<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>与我相关</title>
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no">
    <link rel="stylesheet" href="../css/MaterialIcons.css">
</head>
<body>
<div id="app"></div>
<script type="text/javascript"
        src="<%=htmlWebpackPlugin.files.chunks[htmlWebpackPlugin.options.filename.toString().substring(0, htmlWebpackPlugin.options.filename.indexOf(".html"))].entry %>">
</script>
</body>
</html>